* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background-image: url(/images/bg-pattern-top-desktop.svg);
}

.info {
  padding: 100px;
}

.cards {
  padding: 100px;
}
.container {
  display: flex;
}

.maininfo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.maindescription {
  color: #927b91;
  line-height: 25px;
  margin-top: 15px;
}

.ratebox {
  display: flex;
  background-color: #f7f2f7;
  margin-top: 15px;
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 15px;
  color: #512051;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
}

.cardheader {
  display: flex;
  margin-bottom: 40px;
}

.profileimage {
  border-radius: 50%;
}

.titles {
  display: flex;
  flex-direction: column;
}

.maintitle {
  color: #512051;
  font-size: 48px;
  font-weight: 500;
}

.cardcontainer {
  display: flex;
  justify-content: space-around;
}
.card {
  color: white;
  background-color: #512051;
  width: 30%;
  border-radius: 5%;
  padding: 12px;
}
.pink {
  color: #ee69a4;
}

.card-description {
  font-size: 13px;
  line-height: 22px;
}

@media (max-width: 576px) {
  .cardcontainer {
    flex-direction: column;
  }

  .card {
    width: 70%;
  }
}
